.box {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  position: relative;
  border: dashed black 5px;
  border-radius: 5px;
  animation: spin 2s linear;
}

.content {
  padding-top: 15em;
}

@keyframes spin {
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

/* ini navbar
nav {
  background-color: #373737;
  color: white;
}
.navbar .form-inline button {
  margin: 0 10px;
  font-family: sans-serif;
  font-weight: bold;
}

nav a {
  font-weight: bold;
  font-family: sans-serif;
}
*/

body {
  background-image: url(../img/face.gif);
  background-image: 100%;
  width: 100%;
  height: 100%;
}

.box:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 60px;
  height: 240px;
  width: 60px;
}

.box:before {
  content: '';
  position: absolute;
  top: 60px;
  left: -5px;
  height: 60px;
  width: 240px;
}

