body {
  margin: 0;
  padding: 0;
  background: url(../img/many.gif);
}

.container {
  text-align: center;
  padding: 50px;
}

.container .card {
  background-color: #636363;
  color: #ffffff;
  margin: auto;
  width: 700px;
}